<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/allFootBaller/add">Добавить</a>
<form action="/allFootBaller/FirstName" method="post">
    <input value="Сортировка по имени" type="submit">
</form>
<form action="/allFootBaller/lastname" method="post">
    <input value="Сортировка по фамилии" type="submit">
</form>
   <div th:each="people:${allPeople}">
       <p th:text="${people.getFirstName} + ' ' + ${people.getLastName}"></p>
       <a th:href = "@{/showPeople/{id}(id=${people.getId()})}"> Личный кабинет</a>
   </div>
</body>
</html>